<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BODY-->
  <xacro:macro name="body_inertial">
      <inertial>
        <origin xyz="-0.0055 -0.0002 -0.0014" rpy="0.0 0.0 0.0"/>
        
        <mass value="21.828734672527542"/>
        <inertia 
          ixx="197.9644035402808" 
          ixy="-1.9097414111524087" 
          ixz="-0.1499079161071719" 
          iyy="214.31325562158773" 
          iyz="0.24907860474737206" 
          izz="235.7642298262934"/>
      </inertial>
  </xacro:macro>

  <!-- STEERING-->
  <xacro:macro name="steering_inertial">
    <inertial>
      <mass value="0.25"/>
      <inertia 
            ixx="0.001" 
            ixy="0" 
            ixz="0" 
            iyy="0.001" 
            iyz="0" 
            izz="0.001"/>
    </inertial>
  </xacro:macro>

  <!-- WHEELS -->
  <!-- dummy-->
  <xacro:macro name="cylinder_inertial" params="m r l xyz rpy">
    <inertial>
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <mass value="${m}" />
        <inertia ixx="${(m/12)*(3*r*r+l*l)}" ixy="0" ixz="0" 
                  iyy="${(m/12)*(3*r*r+l*l)}" iyz="0"
                  izz="${(m*r*r)/2}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="wheel_right_inertial">
    <inertial>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
    <mass value="2.26428"/>
    <inertia 
        ixx="0.142467259859483" 
        ixy="0" 
        ixz="0" 
        iyy="0.142467259859483" 
        iyz="0" 
        izz="0.232177637223095"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="wheel_left_inertial">
    <inertial>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <mass value="2.26428"/>
      <inertia 
        ixx="0.142467259859483" 
        ixy="0" 
        ixz="0" 
        iyy="0.142467259859483" 
        iyz="0" 
        izz="0.232177637223095"/>
    </inertial>
  </xacro:macro>

  <!-- IMU-->
  <xacro:macro name="imu_inertial">
    <inertial>
      <origin rpy="0.0009 0.0007 0.0003" xyz="0 0 0"/>
      <mass value="0.011352005096910034"/>
      <inertia 
        ixx="4.417895181776976e-08" 
        ixy="1.772271240247652e-09" 
        ixz="3.0915776324453116e-10" 
        iyy="2.7136906330486448e-08" 
        iyz="1.9975539330428303e-11" 
        izz="6.995430697342334e-08"/>
    </inertial>
  </xacro:macro>

    <!-- LIDAR -->
    <xacro:macro name="lidar_inertial">
      <inertial>
        <origin rpy="-0.0019 -0.0000 0.0658" xyz="0 0 0"/>
        <mass value="0.28590020390563653"/>
        <inertia 
          ixx="0.000762452760169552" 
          ixy="-7.066832712187747e-07" 
          ixz="6.444761162481759e-06" 
          iyy="0.000749768395733118" 
          iyz="6.301900964921601e-07" 
          izz="0.00045580963102950615"/>
      </inertial>
    </xacro:macro>

    <!-- SCAN (2D LIDAR)-->
    <xacro:macro name="scan_inertial">
      <inertial>
        <origin rpy="0.0330 -0.0053 0.0649" xyz="0 0 0"/>
        <mass value="0.21203350920404773"/>
        <inertia 
          ixx="0.011147881277066674" 
          ixy="2.5242109472028173e-05" 
          ixz="-0.0001421632368715965" 
          iyy="0.01111192455712341" 
          iyz="4.152678017456252e-05" 
          izz="0.0006292909214225758"/>
      </inertial>
    </xacro:macro>

</robot>
